<div class="center hero-unit">
  <h1>Welcome to Trash Talker</h1>

  <h2>
    An online community for rival sports fans.
  </h2>

  <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
</div>